#terus-employee-page .nav-link,
#terus-department-page .nav-link {
  // background-color: transparent;
  border-bottom: none;
  // color: white;
}

#list-table {
  overflow-y: auto;
  max-height: 500px;
}

.action-container {
  display: flex;
  gap: 20px;
}

.action-item {
  font-size: 20px;
  cursor: pointer;
}

.page-link {
  // --bs-pagination-color: white;
  --bs-pagination-bg: transparent;
}

.form-floating>.form-control,
.form-floating>.form-control-plaintext,
.form-floating>.form-select {
  height: 66px !important;
}

.form-floating>.form-control-plaintext:focus,
.form-floating>.form-control-plaintext:not(:placeholder-shown),
.form-floating>.form-control:focus,
.form-floating>.form-control:not(:placeholder-shown),
.form-floating>.form-select {
  padding-top: 2rem !important;
}