#terus-admin .terus-header {
  background-color: #f9f9f9;
  width: calc(100% - 10px);
  height: 60px;
  border-radius: 5px;
  padding: 0 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 0 2px #ccc;
}

