.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  background-color: var(--gradient-gold) !important;
}

.projects-table .rs-table-body-wheel-area {
  background-color: var(--rs-bg-card);
}

.terus-column__pj-name {
  cursor: pointer;
  transition: color .3s ease;
}

.terus-column__pj-name i {
  visibility: hidden;
}

.terus-column__pj-name:hover {
  color: var(--gradient-gold);
  transition: color .3s ease;
}

.terus-column__pj-name:hover i {
  visibility: visible;
  font-size: 14px;
}

.rs-drawer-left.rs-drawer-sm,
.rs-drawer-right.rs-drawer-sm {
  width: 100vw !important;
}

.rs-drawer-body {
  padding: 20px !important;
}

@media screen and (min-width: 786px) {

  .rs-drawer-left.rs-drawer-sm,
  .rs-drawer-right.rs-drawer-sm {
    width: 600px !important;
  }

  .rs-drawer-body {
    padding: 30px 60px;
    position: relative;
  }
}