.terus-sidebar {
  width: 190px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-color: var(--sidebar-color);
  border-radius: 5px;
  transition: width .3s ease;
  box-shadow: 0 0 4px #bbb;

}

.terus-sidebar-backdrop {
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.terus-sidebar-backdrop.minimized {
  z-index: -1;
}

.terus-side-top__list {
  margin-top: 0px !important;
}

.minimized .terus-side-top__list {
  margin-top: 10px !important;
}

.terus-sidebar>ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.minimized .terus-sidebar>ul {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.minimized .terus-sidebar>ul>li {
  width: 100%;
  display: flex;
  justify-content: center;
}

.terus-side-nav__link {
  color: var(--sidebar-subtle-color);
  text-decoration: none;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 15px;
  transition: color .3s ease;
}

.terus-side-nav__link.active,
.terus-side-nav__link:active,
.terus-side-nav__link:focus {
  background-color: #eee;
  text-decoration: none;
  color: var(--sidebar-primary-color);
  text-decoration: none;
  border: none;
  outline: 0;
}

.terus-side-nav__link.active i {
  color: var(--gradient-gold);
}

.minimized .terus-side-nav__link.active {
  border-radius: 7px;
}

.terus-side-nav__link:hover {
  color: var(--sidebar-secondary-color);
  transition: color .3s ease, background-color .3s ease;
  text-decoration: none;
  background-color: #eee;
}

#terus-admin__body-sidebar.minimized {
  transform: translateX(-100%);
  transition: transform .3s ease;
}

#terus-admin__body.minimized {
  width: 100%;
  transition: width .3s ease;
}

.terus-sidebar__nav-text {
  animation: textReveal .4s ease;
}

@keyframes textReveal {
  0% {
    display: none;
  }

  50% {
    display: none;
  }

  75% {
    display: none;
  }

  100% {
    display: block;
  }
}

#terus-admin__body-sidebar.minimized .terus-sidebar__nav-text {
  display: none;
}

#terus-admin__body-sidebar.minimized .terus-side-nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

#terus-admin__body-sidebar.minimized .terus-side-nav__link:hover {
  border-radius: 7px;
}

@media screen and (min-width: 768px) {
  #terus-admin__body {
    width: calc(100% - 200px);
    transition: width .3s ease;
  }

  #terus-admin__body.minimized {
    width: calc(100% - 70px);
    transition: width .3s ease;
  }

  #terus-admin__body-sidebar {
    width: 200px;
    transition: width .3s ease;
  }

  #terus-admin__body-sidebar.minimized {
    width: 70px;
    transition: width .3s ease;
    transform: translate(0);
  }

  #terus-admin__body-sidebar.minimized .terus-sidebar {
    width: 60px;
    transition: width .3s ease;
  }

  #terus-admin__body-sidebar.minimized h1 {
    display: none;
  }

  .terus-sidebar__nav-text {
    font-weight: 500;
  }
}