:root {
  --sidebar-color: #24262d;
  --bg-color: #2f323b;
  --light-text-color: #000;
  --dark-text-color: #949ba2;
  --dark-heading-color: #fff;
  --section-bg-color: rgba(68, 70, 79, 0.5);
  --highlight-color-1: #bfa40a;
  --highlight-color-2: #ffe550;
  --gradient-light: #4a5768;
  --gradient-content-light: #36414c;
  --gradient-dark: #181d23;
  --gradient-gold: #c2a160;
}

.highlight-1-text {
  color: var(--highlight-color-1);
}

.gold-text {
  color: var(--gradient-gold);
}

.gold-bg {
  background-color: var(--gradient-gold);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* border-radius: 4px; */
  background-color: #fff;
}

.terus-section {
  width: 100%;
  padding: 50px;
  background-color: var(--section-bg-color);
  border-radius: 12px;
}

#terus-admin h1 {
  font-weight: 600;
  font-size: 36px;
}

#terus-admin h2 {
  font-weight: 600;
  font-size: 30px;
}

#terus-admin h3 {
  font-weight: 600;
  font-size: 24px;
}

#terus-admin h4 {
  font-weight: 600;
  font-size: 18px;
}

#terus-admin h5 {
  font-weight: 600;
  font-size: 14px;
}

#terus-admin h6 {
  font-weight: 600;
  font-size: 12px;
}

#terus-admin small {
  color: var(--dark-text-color);
}

#terus-admin :is(input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea) {
  background-color: rgba(0, 0, 0, .2);
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

#terus-admin th {
  color: var(--dark-heading-color);
  font-weight: bold;
}

#terus-admin .anchor-text {
  color: var(--gradient-gold);
  text-decoration: none;
}

#terus-admin .anchor:hover {
  opacity: 0.7;
}