@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --sidebar-color: #f9f9f9;
  --sidebar-primary-color: #28282a;
  --sidebar-secondary-color: #3c3a45;
  --sidebar-subtle-color: #a09cab;
  --sidebar-highlight-color: #8d746c;
  --bg-color: #f5f8fa;
  --light-text-color: #000;
  --dark-text-color: #949ba2;
  --light-heading-color: #000;
  --dark-heading-color: #fff;
  --section-bg-color: rgba(68, 70, 79, 0.5);
  --highlight-color-1: #bfa40a;
  --highlight-color-2: #ffe550;
  --gradient-light: #4a5768;
  --gradient-content-light: #36414c;
  --gradient-dark: #181d23;
  --gradient-gold: #c2a160;
}

.rs-theme-dark, .rs-theme-light {
  --rs-input-bg: transparent;
  --rs-input-focus-border: var(--gradient-gold);
  --rs-picker-value: var(--gradient-gold);
  /* --rs-listbox-option-selected-bg: #c2a1602d; */
  --rs-listbox-option-selected-text: var(--gradient-gold);
}

.highlight-1:hover {
  color: var(--highlight-color-1) !important;
}

.highlight-2:hover {
  color: var(--highlight-color-2) !important;
}

.highlight-1-text {
  color: var(--highlight-color-1);
}

.gold-text {
  color: var(--gradient-gold);
}

.gold-bg {
  background-color: var(--gradient-gold);
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.terus-section {
  width: 100%;
  /* padding: 2rem; */
  /* background-color: var(--section-bg-color); */
  border-radius: 12px;
}

#terus-admin h1 {
  font-weight: 600;
  font-size: 36px;
}

#terus-admin h2 {
  font-weight: 600;
  font-size: 30px;
}

#terus-admin h3 {
  font-weight: 600;
  font-size: 24px;
}

#terus-admin h4 {
  font-weight: 600;
  font-size: 18px;
}

#terus-admin h5 {
  font-weight: 600;
  font-size: 14px;
}

#terus-admin h6 {
  font-weight: 600;
  font-size: 12px;
}

#terus-admin small {
  color: var(--dark-text-color);
}

#terus-admin th {
  /* color: var(--dark-heading-color); */
  font-weight: bold;
}

#terus-admin .anchor-text {
  color: var(--gradient-gold);
  text-decoration: none;
}

#terus-admin .anchor:hover {
  opacity: 0.7;
}

.p50 {
  padding: 50px;
}